section-row {
    @include make-row();
    justify-content: center;
    align-items: center;
    background-color: $body-color;
}

section-container {
    @include make-container();
    display: block;
}

@include media-breakpoint-down(md) {
    section-row {
    }
}