section-row {
    height: 200px;
    display: block;
    background-color: $body-color;
}

section-container {
    @include make-container();
    display: flex;
}

.container {
    width: 50%;
}

@include media-breakpoint-down(md) {
    section-row {
        height: 100px;
    }
}